* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.searchfullpage {
    /* border: 1px solid black; */
    width: 100vw;
    /* height: 100vh; */
    /* overflow: hidden; */
    box-sizing: border-box;
}

.searchpage {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    /* height: 80vh; */
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.searchpage-one {
    /* border: 1px solid black; */
    width: 17%;
    height: 90%;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}

.searchpage-one-box {
    /* border: 1px solid black; */
    width: 100%;
    height: 35vh;
}

.searchpage-one-box img {
    width: 100%;
    height: 100%;
}

.searchpage-one-box-caption {
    border: px solid black;
    width: 100%;
    height: 10vh;
    text-align: left;
    font-weight: 550;
    font-size: 15px;
}

.rating {
    margin-top: 5%;
}


@media screen and (min-width:1000px) and (max-width:1100px) {
    .searchpage-one {
        width: 27%;
    }
}


@media screen and (min-width:800px) and (max-width:1000px) {
    .searchpage-one {
        width: 28%;
    }
}

@media screen and (min-width:600px) and (max-width:800px) {
    .searchpage-one {
        width: 45%;
    }
}

@media screen and (min-width:480px) and (max-width:600px) {
    .searchpage-one {
        width: 40%;
    }
}

@media screen and (min-width:360px) and (max-width:480px) {
    .searchpage {
        justify-content: center;
    }

    .searchpage-one {
        width: 70%;
    }
}

@media screen and (min-width:230px) and (max-width:360px) {
    .searchpage {
        justify-content: center;
    }

    .searchpage-one {
        width: 90%;
    }
}